<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seeAllUser</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/listOfBlogger.css" />

</head>

<body>
    <div class="countanier">
        <img class="img" src="/img/background.jpeg" />
        <div class="content">
            <a href="http://localhost:3000/admin/dashboard"> <button id="btn-see-my-articles"
                    class="btn btn-primary">Back
                    Dashboard</button></a>
            <div>
                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th scope="col">userName</th>
                            <th scope="col">firstName</th>
                            <th scope="col">lastName</th>
                            <th scope="col">gender</th>
                            <th scope="col">phoneNumber</th>

                        </tr>
                    </thead>
                    <tbody>
                        <p style="display: none;">
                            <%= users %>
                        </p>
                        <% for(var index=0;index < users.length ;index++ ){ %>
                            <div>
                                <tr>

                                    <th scope="row">
                                        <%= users[index].userName %>
                                    </th>
                                    <td>
                                        <%= users[index].firstName %>
                                    </td>
                                    <td>
                                        <%= users[index].lastName %>
                                    </td>
                                    <td>
                                        <%= users[index].gender %>
                                    </td>
                                    <td>
                                        0<%= users[index].phoneNumber %>
                                    </td>
                                    <td idBlogger="<%=users[index]._id%>">
                                        <form method="post" action="/admin/dashboard/SeeBloggers/changePassBlogger">
                                            <input type="text" style="display: none;" id="idBlogger" name="idUser">
                                            <button class="btn-change-pass btn btn-success">changePass</button>
                                        </form>

                                        <form action="/admin/dashboard/seeBloggers/deleteBlogger" method="post"
                                            class="formDeleteBlogger">
                                            <input type="text" style="display: none;" id="idBlogger" name="idUser">
                                            <button type="submit"
                                                class="btn-delete-blogger btn-delete btn btn-danger">delete
                                                user</button>
                                        </form>
                                    </td>

                                </tr>
                            </div>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3>
        <%= msg %>
    </h3>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script>
    let msg = `<%= msg %>`;
    if (msg) {
        alert(msg)
    };
</script>

</html>