<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/seeMoreArticle.css" />
</head>

<body>
    <div class="countainer">
        <img class="img" src="/img/background.jpeg" />

        <div class="content">
            <div class="title">
                <a href="/blogger/dashboard"> <button id="btn-see-my-articles" class="btn btn-primary">Dashboard
                    </button></a>
                <h1>
                    <%=msg%>
                </h1>
            </div>
            <p style="display: none;">
                <%= article %>
                    <%= comment %>
            </p>



            <div class="d-article">
                <div class="title">
                    <h3>
                        <%= article.title %>
                    </h3>
                </div>
                <div class="d-img-article">
                    <img class="img-article" src="/img/<%=article.image%>">
                </div>

                <div class="d-summary">
                    <h3>text :</h3>
                    <%= article.text %>
                </div>

                <div class="d-info">

                    <h3>writer:</h3>
                    <%=article.writer %>

                        <h3> createdAt:</h3>
                        <p>
                            <%= article.createdAt %>
                        </p>
                </div>
            </div>
            <div>
                <form action="/blogger/dashboard/articles/seeAll/detailsOneArticle/comment" method="post">
                    <div class="set-comment">
                        <label for="comment">
                            <h3>Your Commet:</h3>
                        </label>
                        <input style="display: none;" value="<%= article._id %>" name="idArticle">
                        <textarea id="comment" name="comment" rows="4">
                            </textarea>
                        <button type="submit" class="btn btn-primary">Save
                            Comment</button>
                    </div>

                </form>

            </div>
            <div class="comments">
                <% for(var index=0;index < comment.length ;index++ ){ %>
                    <div class="comment">

                        <h5>
                            <%= comment[index].writer %> 
                            
                        </h5>
                        <p>
                            <%=comment[index].text %> 
                            
                        </p>
                    </div>
                    <hr class="hr">
                    <% } %>
            </div>

        </div>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script>
    let msg = `<%= msg %>`;
    if (msg) {
        alert(msg)
    };
</script>
</html>