<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Articles.css" />
</head>

<body>
    <div class="title">
        <a href="http://localhost:3000/<%=role%>/dashboard"> <button id="btn-see-my-articles" class="btn btn-primary">back
                dashboard</button></a>
        <h1>
            <%=msg%>
        </h1>
    </div>
    <p style="display: none;">
        <%= articles %>
    </p>
    <div class="countainer">

        <% for(var index=0;index < articles.length ;index++ ){ %>
            <div class="d-article">

                <div class="d-img-article">
                    <img class="img-blogger-article" src="/img/<%=articles[index].image%>">
                </div>
                <div class="d-summary">
                    <h3>summary :</h3>
                    <%= articles[index].text %>
                </div>

                <div class="d-info">

                    <h3>writer:</h3>
                    <%=articles[index].writer %>

                        <h3> createdAt:</h3>
                        <%=articles[index].createdAt %>
                </div>
                <form action="/admin/dashboard/articles/seeAll/delete" method="post">
                    <input type="text" style="display: none;" value="<%=articles[index]._id%>" name="idArticle">
                    <button type="submit"
                        class="btn-delete-articles-blogger btn btn-primary">Delete</button>
                </form>
            </div>


            <% } %>
    </div>



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</html>